body{
    background-color: #f6f7f8;
    font-family: "Inter", sans-serif;
    
}

header{
  width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    justify-content: space-between;
}

.logo{
    width: 60px;
    height: 60px;
}

.header-left{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.header-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.search-input {
  width: 100%;
  max-width: 400px;
  background-color: #f1f3f4; /* light grey */
  border: none;
  border-radius: 8px;
  padding: 8px 12px 8px 32px; /* left space for search icon */
  font-size: 14px;
  font-weight: 400;
  color: #111618;
  line-height: 1.5;
  outline: none;
  transition: background-color 0.2s ease;
  height: 30px;
}

.search-input::placeholder {
  color: #617c89;
}

.search-input:focus {
  background-color: #e8eaed; /* subtle hover/focus effect */
  outline: none;
}

.temp-button{
    background-color: #13a4ec;
    height: 20px;
    border: none;
    width: 55px;
}

.weather-detailed-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  background-color: white;
  border: gray;
  padding: 20px;
}

main{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0 auto;
}

.main-weather{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

#location{
  font-size: 25px;
  font-weight: bold;
}

#day-time{
  font-size: 13px;
  color: gray;
}

.temperature-more-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 20px;
  gap: 80px;
}

.temperature-more-detailed-info{
  width: 310px;
}

#temperature-info{
  color: gray;
}

#temperature{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

#weather-img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

