body {
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;

}

header {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  justify-content: space-between;
}

.logo {
  width: 60px;
  height: 60px;
}

.header-left {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.header-left-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.search-input {
  width: 500px;
  background-color: #f1f3f4;
  /* light grey */
  border: none;
  border-radius: 8px;
  padding: 8px 12px 8px 32px;
  /* left space for search icon */
  font-size: 14px;
  font-weight: 400;
  color: #111618;
  line-height: 1.5;
  outline: none;
  transition: background-color 0.2s ease;
  height: 30px;
}

.search-input::placeholder {
  color: #617c89;
}

.search-input:focus {
  background-color: #e8eaed;
  /* subtle hover/focus effect */
  outline: none;
}

#submit-button {
  border: none;
  background-color: #e8eaed;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: box-shadow 0.1s, background-color 0.1s;
}

#submit-button:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

#submit-button:active {
  background-color: white;
}

.results-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  max-width: 1200px;
  background-color: #f1f3f4;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.results:hover {
  background-color: #ffffff;
}

.country-picture {
  width: 50px;
}

.temp-button {
  background-color: #13a4ec;
  height: 20px;
  border: none;
  width: 55px;
}

.weather-detailed-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  border: gray;
  padding: 20px;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 108px;
  border-radius: 10px;
}

.weather-detailed-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0px 15px 10px;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

.main-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

#location {
  font-size: 25px;
  font-weight: bold;
}

#day-time {
  font-size: 13px;
  color: gray;
}

#use-location-btn {
  background-color: #13a4ec;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 200px;
  display: flex;
  margin: auto;
}

#use-location-btn:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1)
}

#use-location-btn:active {
  background-color: #0e6d9c;
}

.temperature-more-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 20px;
  gap: 80px;
  border-radius: 10px;
  margin-top: 50px;
}

.temperature-more-detailed-info {
  width: 310px;
}

#temperature-info {
  color: gray;
}

#temperature {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.units-info {
  font-size: 18px;
  font-weight: bold;
}

.units-name {
  font-size: 18px;
  color: gray;
  font-weight: bold;
}

.weather-info {
  margin-top: 95px;
}

.weekly-forecast-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
}

.weekly-forecast-text {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.week-days-forecast {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.week-days-forecast-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-of-the-week {
  font-size: 16px;
  font-weight: bold;
}

.day-of-the-week-weather-image {
  width: 150px;
  height: 150px;
}

.maximum-temperature {
  font-size: 20px;
  font-weight: bold;
  display: inline;
}

.minimum-temperature {
  font-size: 14px;
  color: #617c89;
  display: inline;
}

.max-min-temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    justify-content: space-between;
  }

  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main-weather {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
    justify-content: center;
  }

  .weekly-forecast-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
  }

  .week-days-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .temperature-more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 20px;
    gap: 80px;
    border-radius: 10px;
    margin-top: 50px;
  }

  .temperature-more-detailed-info {
    max-width: 80%;
  }

  .weather-detailed-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: gray;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 108px;
    border-radius: 10px;
    width: 80%;
  }

  .weather-info {
    margin-top: 10px;

  }

  .search-input {

    max-width: 200px;
    background-color: #f1f3f4;
    /* light grey */
    border: none;
    border-radius: 8px;
    padding: 8px 12px 8px 32px;
    /* left space for search icon */
    font-size: 14px;
    font-weight: 400;
    color: #111618;
    line-height: 1.5;
    outline: none;
    transition: background-color 0.2s ease;
    height: 30px;
  }

  .search-input::placeholder {
    color: #617c89;
  }

  .search-input:focus {
    background-color: #e8eaed;
    /* subtle hover/focus effect */
    outline: none;
  }

  #location-btn-box {
    position: absolute;
    top: 50%;
    left: 40%px;
    bottom: 50%;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    justify-content: space-between;
  }

  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main-weather {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
    justify-content: center;
  }

  .weekly-forecast-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
  }

  .week-days-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .temperature-more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 20px;
    gap: 80px;
    border-radius: 10px;
    margin-top: 50px;
  }

  .temperature-more-detailed-info {
    max-width: 80%;
  }

  .weather-detailed-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: gray;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 108px;
    border-radius: 10px;
    width: 80%;
  }

  .weather-info {
    margin-top: 10px;

  }

  .search-input {

    max-width: 200px;
    background-color: #f1f3f4;
    /* light grey */
    border: none;
    border-radius: 8px;
    padding: 8px 12px 8px 32px;
    /* left space for search icon */
    font-size: 14px;
    font-weight: 400;
    color: #111618;
    line-height: 1.5;
    outline: none;
    transition: background-color 0.2s ease;
    height: 30px;
  }

  .search-input::placeholder {
    color: #617c89;
  }

  .search-input:focus {
    background-color: #e8eaed;
    /* subtle hover/focus effect */
    outline: none;
  }

  #location-btn-box {
    position: absolute;
    top: 50%;
    left: 200px;
    bottom: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    justify-content: space-between;
  }

  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main-weather {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }

  .weekly-forecast-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
  }

  .week-days-forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

  }

  .temperature-more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 20px;
    gap: 80px;
    border-radius: 10px;
    margin-top: 50px;
  }

  .temperature-more-detailed-info {
    max-width: 80%;
  }

  .weather-detailed-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    border: gray;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 108px;
    border-radius: 10px;
    width: 80%;
  }

  .weather-info {
    margin-top: 10px;

  }

  .search-input {

    max-width: 200px;
    background-color: #f1f3f4;
    /* light grey */
    border: none;
    border-radius: 8px;
    padding: 8px 12px 8px 32px;
    /* left space for search icon */
    font-size: 14px;
    font-weight: 400;
    color: #111618;
    line-height: 1.5;
    outline: none;
    transition: background-color 0.2s ease;
    height: 30px;
  }

  .search-input::placeholder {
    color: #617c89;
  }

  .search-input:focus {
    background-color: #e8eaed;
    /* subtle hover/focus effect */
    outline: none;
  }

  #location-btn-box {
    position: absolute;
    top: 50%;
    left: 45%;
    bottom: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    justify-content: space-between;
  }

  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main-weather {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }

  .weekly-forecast-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
  }

  .week-days-forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

  }

  .temperature-more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 20px;
    gap: 80px;
    border-radius: 10px;
    margin-top: 50px;
  }

  .temperature-more-detailed-info {
    max-width: 80%;
  }

  .weather-detailed-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    border: gray;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 108px;
    border-radius: 10px;
    width: 80%;
  }

  .weather-info {
    margin-top: 10px;

  }

  .search-input {

    max-width: 200px;
    background-color: #f1f3f4;
    /* light grey */
    border: none;
    border-radius: 8px;
    padding: 8px 12px 8px 32px;
    /* left space for search icon */
    font-size: 14px;
    font-weight: 400;
    color: #111618;
    line-height: 1.5;
    outline: none;
    transition: background-color 0.2s ease;
    height: 30px;
  }

  .search-input::placeholder {
    color: #617c89;
  }

  .search-input:focus {
    background-color: #e8eaed;
    /* subtle hover/focus effect */
    outline: none;
  }

  #location-btn-box {
    position: absolute;
    top: 50%;
    left: 45%;
    bottom: 50%;
  }
}

@media (min-width: 1200px) {}